%a#anchor
%h2.text-center 예측 결과

.result
  %h3.thin 당신이 투표할 후보의 정당이 맞나요?
  %h3 맞다면 공유해 보세요!
  .shares
    = link_to 'twitter', '#', class: 'btn-twitter'
    = link_to 'facebook', '#', class: 'btn-facebook'
    = link_to 'kakao', '#', class: 'btn-kakao'