@import 'application';

#intro-section {
  background-size: cover;
  a.btn-down {
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -100px;
    display: block;
    width: 41px;
    height: 41px;
    background-image: image-url('btn-down.png');
    background-size: cover;
  }
}

#vote-section {
  .action-body {
    padding: 30px 20px;
  }
  p.intro {
    font-size: 20px;
    padding: 50px 0 20px;
  }
  .btn-back, .btn-next {
    font-size: 20px;
  }
  h2 {
    font-size: 20px;
  }
  form {
    font-size: 18px;
  }
  .result {
    padding: 15px 15px 30px;
    h3 {
      font-size: 14px;
    }
    .shares {
      position: absolute;
      right: 10px;
      top: 40px;
      a {
        display: inline-block;
        width: 23px;
        height: 22px;
        background-size: cover;
      }
    }
    ul {
      margin: 15px 0;
      li {
        padding: 10px;
        .pull-right {
          font-size: 8px;
          .percentage {
            font-size: 14px;
          }
        }
      }
    }
    &:after {
      border-width: 50px 0 0 50px;
    }
  }
}

#contributors-section {
  .container {
    padding: 0 20px;
  }

  img.logo-h21 {
    width: 55px;
  }
  img.logo-parti {
    width: 45px;
  }
  img.logo-choi {
    width: 65px;
  }
}
